In [2]:
import pandas as pd
import sqlite3

# 1.1

with sqlite3.connect('data/chinook.db') as con:
    df_chinook = pd.read_sql_query("SELECT * FROM customers", con)


print(df_chinook.head(10))

   CustomerId  FirstName     LastName  \
0           1       Luís    Gonçalves
1           2     Leonie       Köhler
2           3   François     Tremblay
3           4      Bjørn       Hansen
4           5  František  Wichterlová
5           6     Helena         Holý
6           7     Astrid       Gruber
7           8       Daan      Peeters
8           9       Kara      Nielsen
9          10    Eduardo      Martins

                                            Company  \
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                              None
2                                              None
3                                              None
4                                  JetBrains s.r.o.
5                                              None
6                                              None
7                                              None
8                                              None
9                                  Woodstock Discos

                                Address                 City State  \
0       Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP
1               Theodor-Heuss-Straße 34            Stuttgart  None
2                     1498 rue Bélanger             Montréal    QC
3                      Ullevålsveien 14                 Oslo  None
4                         Klanova 9/506               Prague  None
5                         Rilská 3174/6               Prague  None
6  Rotenturmstraße 4, 1010 Innere Stadt               Vienne  None
7                       Grétrystraat 63             Brussels  None
8                   Sønder Boulevard 51           Copenhagen  None
9             Rua Dr. Falcão Filho, 155            São Paulo    SP

          Country PostalCode               Phone                 Fax  \
0          Brazil  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566
1         Germany      70174    +49 0711 2842222                None
2          Canada    H2G 1A7   +1 (514) 721-4711                None
3          Norway       0171     +47 22 44 22 22                None
4  Czech Republic      14700    +420 2 4172 5555    +420 2 4172 5555
5  Czech Republic      14300    +420 2 4177 0449                None
6         Austria       1010      +43 01 5134505                None
7         Belgium       1000    +32 02 219 03 03                None
8         Denmark       1720      +453 3331 9991                None
9          Brazil  01007-010  +55 (11) 3033-5446  +55 (11) 3033-4564

                      Email  SupportRepId
0      luisg@embraer.com.br             3
1     leonekohler@surfeu.de             5
2       ftremblay@gmail.com             3
3     bjorn.hansen@yahoo.no             4
4  frantisekw@jetbrains.com             4
5           hholy@gmail.com             5
6    astrid.gruber@apple.at             5
7     daan_peeters@apple.be             4
8     kara.nielsen@jubii.dk             4
9  eduardo@woodstock.com.br             4

In [3]:
import json

with open("data/iris.json") as f:
    data = json.load(f)

df_iris = pd.DataFrame(data)

print(df_iris.shape)
print(df_iris.columns)

(150, 5)
Index(['sepalLength', 'sepalWidth', 'petalLength', 'petalWidth', 'species'], dtype='object')

In [4]:
df_titanic = pd.read_excel("data/titanic.xlsx")
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
df_flights = pd.read_parquet("Flights.parquet")
print(df_flights.info())

FileNotFoundError: [Errno 2] No such file or directory: 'Flights.parquet'

In [14]:
df_movie = pd.read_csv("data/movie.csv")
df_movie.sample(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
2824,Color,Niels Arden Oplev,NaN,88.0,76.0,75.0,David Dencik,690.0,NaN,Action|Crime|Mystery|Thriller,...,NaN,Swedish,Sweden,NaN,NaN,NaN,94.0,8.1,NaN,22
108,Color,Duncan Jones,275.0,123.0,0.0,648.0,Callum Rennie,3000.0,46978995.0,Action|Adventure|Fantasy,...,781.0,English,USA,PG-13,160000000.0,2016.0,716.0,7.3,2.35,89000
1262,Color,Chris Columbus,146.0,135.0,0.0,715.0,David Fine,3000.0,29077547.0,Drama|Musical|Romance,...,754.0,English,USA,PG-13,40000000.0,2005.0,1000.0,7.0,2.35,3000
2459,Color,Alexander Payne,285.0,126.0,729.0,284.0,Patrick Gallagher,912.0,71502303.0,Adventure|Comedy|Drama|Romance,...,835.0,English,USA,R,12000000.0,2004.0,306.0,7.5,1.85,0
2268,Color,Les Mayfield,53.0,91.0,10.0,436.0,Will Patton,716.0,8104069.0,Action|Comedy|Crime,...,26.0,English,USA,PG-13,20000000.0,2007.0,537.0,4.5,1.85,233
1478,Color,David Ayer,233.0,109.0,453.0,120.0,Martin Donovan,1000.0,10499968.0,Action|Crime|Drama|Thriller,...,212.0,English,USA,R,35000000.0,2014.0,206.0,5.7,1.85,10000
827,Black and White,Robert Zemeckis,149.0,142.0,0.0,194.0,Siobhan Fallon Hogan,15000.0,329691196.0,Comedy|Drama,...,1398.0,English,USA,PG-13,55000000.0,1994.0,294.0,8.8,2.35,59000
419,Color,Jon Amiel,149.0,135.0,36.0,106.0,Tchéky Karyo,894.0,31111260.0,Action|Adventure|Sci-Fi|Thriller,...,466.0,English,USA,PG-13,60000000.0,2003.0,345.0,5.4,2.35,0
4381,Color,Henry Hathaway,74.0,92.0,83.0,48.0,Jean Peters,469.0,NaN,Crime|Film-Noir|Thriller,...,116.0,English,USA,Approved,1250000.0,1953.0,79.0,7.1,1.37,1000
3030,Color,Léa Pool,17.0,97.0,4.0,194.0,Marc Donato,882.0,NaN,Adventure|Drama,...,28.0,English,Canada,PG,12500000.0,2004.0,450.0,6.3,1.85,392

In [15]:
df_iris.columns = df_iris.columns.str.lower()

df_iris[['sepallength', 'sepalwidth']]

     sepallength  sepalwidth
0            5.1         3.5
1            4.9         3.0
2            4.7         3.2
3            4.6         3.1
4            5.0         3.6
..           ...         ...
145          6.7         3.0
146          6.3         2.5
147          6.5         3.0
148          6.2         3.4
149          5.9         3.0

[150 rows x 2 columns]

In [16]:
print(df_titanic[df_titanic["Age"] > 30])
print(df_titanic.value_counts("Sex"))

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
4              5         0       3
6              7         0       1
11            12         1       1
..           ...       ...     ...
873          874         0       3
879          880         1       1
881          882         0       3
885          886         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
881                                 Markun, Mr. Johann    male  33.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch    Ticket     Fare Cabin Embarked
1        0  PC 17599  71.2833   C85        C
3        0    113803  53.1000  C123        S
4        0    373450   8.0500   NaN        S
6        0     17463  51.8625   E46        S
11       0    113783  26.5500  C103        S
..     ...       ...      ...   ...      ...
873      0    345765   9.0000   NaN        S
879      1     11767  83.1583   C50        C
881      0    349257   7.8958   NaN        S
885      5    382652  29.1250   NaN        Q
890      0    370376   7.7500   NaN        Q

[305 rows x 12 columns]
Sex
male      577
female    314
Name: count, dtype: int64

In [19]:
new_columns1 = [column.lower() for column in df_flights.columns]
df_flights.columns = new_columns1
extract = df_flights[["origin", "dest"]]
unique = extract["dest"].nunique()

In [20]:

filtered_data = df_movie[df_movie["duration"]> 120]
filtered_data = filtered_data.sort_values(by=["director_facebook_likes"], ascending=False)

In [21]:
numeric_columns = df_iris.select_dtypes("number")
print(numeric_columns.mean())
print(numeric_columns.median())
print(numeric_columns.std())

sepallength    5.843333
sepalwidth     3.057333
petallength    3.758000
petalwidth     1.199333
dtype: float64
sepallength    5.80
sepalwidth     3.00
petallength    4.35
petalwidth     1.30
dtype: float64
sepallength    0.828066
sepalwidth     0.435866
petallength    1.765298
petalwidth     0.762238
dtype: float64

In [22]:
print(df_titanic[["Age"]].min())
print(df_titanic[["Age"]].max())
print(df_titanic[["Age"]].sum())

Age    0.42
dtype: float64
Age    80.0
dtype: float64
Age    21205.17
dtype: float64

In [23]:
print(filtered_data.head(1))

    color      director_name  num_critic_for_reviews  duration  \
66  Color  Christopher Nolan                   645.0     152.0

    director_facebook_likes  actor_3_facebook_likes  actor_2_name  \
66                  22000.0                 11000.0  Heath Ledger

    actor_1_facebook_likes        gross                       genres  ...  \
66                 23000.0  533316061.0  Action|Crime|Drama|Thriller  ...

   num_user_for_reviews language  country  content_rating       budget  \
66               4667.0  English      USA           PG-13  185000000.0

    title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
66      2008.0                13000.0        9.0          2.35

   movie_facebook_likes
66                37000

[1 rows x 28 columns]

In [24]:
missing_values = df_flights.isnull().sum()
missing_values
for column in df_flights.select_dtypes("number").columns:
    df_flights[df_flights[column].isna()] = df_flights[column].mean()